name: Strategy Data Update

on:
  schedule:
    - cron: '13 * * * *'  # 매시간 13분에 실행 (즉, 1시간 간격)
  workflow_dispatch:     # 언제든 수동으로 돌릴 수 있는 버튼

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium webdriver-manager firebase-admin

    - name: Run Python script
      env:
        # 아까 등록한 Secret을 파이썬 환경변수로 넘겨줍니다.
        FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
      run: python update_MSTR.py
